 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --primary: #eb5712;
    --text-light: #ffffff;
    --text-dark: #2d3436;
    --overlay: rgba(0, 0, 0, 0.7);
}

.land-page-body {
    min-height: 100vh;
    background: black;
    color: var(--text-light);
    overflow-x: hidden;
}


.land-page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: background 0.3s ease;
}

.land-page-header.scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem 3rem;
}

.land-page-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
}

.land-page-nav-links {
    display: flex;
    gap: 5rem;
    list-style: none;
    
}

.land-page-nav-links p {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}

.land-page-nav-links p:hover {
    color: var(--primary);
}

.land-page-btn-cashier {
    padding: 0.8rem 1.5rem;
    background: var(--primary);
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.land-page-btn-cashier:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(46, 204, 113, 0.3);
}


.land-page-hero {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 3rem;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/src/assets/main-background.jpg') ;
    background-size: cover;
background-position: bottom;
    z-index: 1;
}

.land-page-hero-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.land-page-hero-text {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.land-page-hero-subtext {
    
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    color: #cccccc;
}










@media (max-width: 768px) {
    .land-page-header {
        padding: 1rem;
    }

    .land-page-nav-links {
        display: none;
    }

    .land-page-hero {
        padding: 0 1rem;
        text-align: center;
    }

    .land-page-hero-text {
        font-size: 3rem;
    }

    .land-page-action-buttons {
        grid-template-columns: 1fr;
    }
} 

